In [1]:
import pandas as pd

In [14]:
df = pd.read_csv('emp.csv',delimiter='|')
is_row_duplicates  = df.duplicated()
df[is_row_duplicates]

   eno   ename    city         doj
4    2  Thomas  London  2024/01/01