In [1]:
import pandas as pd

In [24]:
df = pd.read_csv('emp.csv',parse_dates=['doj'])

In [25]:
df.dtypes

eno              object
ename            object
city             object
doj      datetime64[ns]
dtype: object

In [32]:
df['doj'].dt.weekday

0     5.0
1     1.0
2     2.0
3     2.0
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
10    NaN
11    NaN
12    NaN
13    NaN
14    NaN
15    NaN
16    NaN
17    NaN
18    NaN
19    NaN
20    NaN
21    NaN
22    NaN
23    NaN
24    NaN
25    NaN
26    NaN
27    NaN
Name: doj, dtype: float64

In [43]:
df = pd.read_csv('emp.csv',delimiter="|")

ParserError: Error tokenizing data. C error: Expected 1 fields in line 26, saw 3

In [36]:
df

            eno|ename|city
0          1|Adam|New York
1          2|Thomas|London
2        3|Smith|Singapore
3         4|Maria|New York
4     5|Christian|New York
...                    ...
1207       2|Thomas|London
1208     3|Smith|Singapore
1209      4|Maria|New York
1210  5|Christian|New York
1211   6|Pankaj|Bangalorev

[1212 rows x 1 columns]